<section>
  <div class="dflex game-flex">

    <div class="content">
      <img class="game" src="../../assets/game1.jpg" alt="">
      <div class="content__text">
        <a href="http://" target="_blank">Buy Now</a>
      </div>
    </div>

    <div class="content">
      <img class="game" src="../../assets/game2.jpg" alt="">
      <div class="content__text">
        <a href="http://" target="_blank">Buy Now</a>
      </div>
    </div>

    <div class="content">
      <img class="game" src="../../assets/game3.jpg" alt="">
      <div class="content__text">
        <a href="http://" target="_blank">Buy Now</a>
      </div>
    </div>

    <div class="content">
      <img class="game" src="../../assets/game5.jpg" alt="">
      <div class="content__text">
        <a href="http://" target="_blank">Buy Now</a>
      </div>
    </div>
    <div class="content">
      <img class="game" src="../../assets/game4.jpg" alt="">
      <div class="content__text">
        <a href="http://" target="_blank">Buy Now</a>
      </div>
    </div>






  </div>
</section>
