<div class="products">
  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product1.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">CyberPunk</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$80.99</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>


  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product2.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">GTA 5</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$130.49</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>

  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product7.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">Call of Duty</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$30.99</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>


  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product5.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">Red Dead Redemption 2</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$30.99</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>


  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product4.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">FIFA 21</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$30.99</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>


  <div class="game-card">
    <div class="game-images">
      <img src="../../assets/Products/product6.jpeg" alt="">
    </div>
    <div class="game-details">
      <div class="rating">

      </div>
      <span class="game-title">Tomb Raider</span>
      <span class="description">Meet the biggest & baddest of them all</span>
      <span class="price">$30.99</span>
      <a href="" class="cta-add">Add To Cart</a>
      <a href="" class="link">Add to wishlist</a>
    </div>
  </div>

</div>
