<section>
  <div class="title">
    <h2 class="title__heading">Hot & Trending</h2>
  </div>

  <div class="trending container">

    <div class="card one">
      <!-- <img src="../../assets/avenger.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>

    </div>
    <div class="card two">
      <!-- <img src="../../assets/cricket.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>
    </div>
    <div class="card three">
      <!-- <img src="../../assets/witcher.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>
    </div>
    <div class="card four">
      <!-- <img src="../../assets/nfs.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>
    </div>
    <div class="card five">
      <!-- <img src="../../assets/fortnight.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>
    </div>
    <div class="card six">
      <!-- <img src="../../assets/gta.jpeg" alt=""> -->
      <div class="card__content">
        <h1>Mortal Combat</h1>
        <a href="" class="buy">Buy Now</a>
      </div>
    </div>

  </div>

</section>


