<section>

  <div class="title">
    <h2 class="title__heading">Why Shop With Us?</h2>
  </div>

  <div class="container services">
    <div class="services__item one">
      <img src="../../assets/undraw_aircraft_fbvl.svg" alt="">
      <h2>Free Shipping</h2>
    </div>
    <div class="services__item two">
      <img src="../../assets/undraw_order_confirmed_aaw7.svg" alt="">
      <h2>Easy Returns</h2>
    </div>
    <div class="services__item three">
      <img src="../../assets/undraw_Connecting_Teams_8ntu.svg" alt="">
      <h2>24*7 Support</h2>
    </div>
    <div class="services__item four">
      <img src="../../assets/undraw_online_payments_luau.svg" alt="">
      <h2>Secure Payments</h2>
    </div>
  </div>
</section>
